tags
.Rproj.user
.vscode
*code-workspace
# Land cover: full resolution files (too large)
assets/landcover/landcover_copernicus_global_100m*
# JLD2 files: intermediate results (too large)
data/jld2/*.jld2
data/jld2/bart-distributions_xtras.zip
# Processed data: BART results (too large)
data/proc/bart_*.csv
data/proc/bart_*.tif
# Processed data: EBD prepared data (too large)
data/proc/ebd*.csv

# But really keep
!data/jld2/spenames.jld2

